@import 'fonts'
@import 'base64'
@import 'vars'


// Typo
p, a
	font-size: 18px
	font-weight: 400
	line-height: 24px
	margin: 0
.section-title
	font-size: 30px
	font-weight: 800
	color: #000
	padding-left: 10px
	position: relative
	&:before
		content: ''
		position: absolute
		top: 10%
		left: 0
		width: 4px
		height: 80%
		background-color: $accent-color
h3
	font-size: 20px
	font-weight: 700
	margin-bottom: 25px
	color: #000
// a:not([href]):not([tabinex]), a:not([href]):not([tabinex]):focus, a:not([href]):not([tabinex]):hover
// 	color: #fff
.more-link
	display: block
	margin-top: 140px
	font-size: 14px
	font-weight: 600
	color: #333
	transition: $trans-prop
	@media screen and (max-width: 1199px)
		margin-top: 81px
	@media screen and (max-width: 991px)
		margin-top: 30px
	.fa-arrow-down
		margin-left: 5px
	&:hover
		text-decoration: none
		color: $accent-color
.bullets-list
	list-style: none
#Glide2
	height: auto
	.glide__wrapper
		margin-bottom: 50px
.bullets-list__bullet
	font-size: 16px
	color: #333
	margin-bottom: 25px
	position: relative
	&:last-child
		margin-bottom: 0
	&:before
		content: ''
		background-image: url('../img/check-mark-red.png')
		background-size: 25px 20px
		width: 25px
		height: 20px
		position: absolute
		left: -40px
	&:nth-child(even)
		&:before
			background-image: url('../img/check-mark-yellow.png')
			background-size: 25px 20px
			width: 25px
			height: 20px
// Buttons
.btn-default
	padding: 20px 35px
	background-color: $accent-color
	color: #fff
	font-weight: 600
	display: inline-flex
	justify-content: center
	align-items: center
	transition: $trans-prop
	@media screen and (max-width: 400px)
		font-size: 14px
	&:hover
		color: #fff
		text-decoration: none
		box-shadow: 0 0 20px 0 rgba(0,0,0,0.15)
		.btn-default__big-circle
			font-size: 6px
			opacity: 1
		.btn-default__medium-circle
			font-size: 8px
			opacity: .8
		.btn-default__small-circle
			font-size: 10px
			opacity: .6
	.fa-circle
		margin: 0 3px
		margin-bottom: -2px
		transition: $trans-prop
.btn-default__circle-container
	display: inline-flex
	justify-content: center
	align-items: center
	margin: 0 5px
.btn-default__big-circle
	font-size: 10px
	opacity: .6
.btn-default__medium-circle
	font-size: 8px
	opacity: .8
.btn-default__small-circle
	font-size: 6px

// Main styles
body
	font-family: 'Montserrat', sans-serif
	overflow-x: hidden
.sticky-fixed
	position: fixed !important
	top: 0
	width: 100%
.plus-pt
	padding-top: 48px !important
	@media screen and (max-width: 991px)
		padding-top: 56px !important

// Glide slider
#Glide
	.glide__arrows
		top: initial
		bottom: 195px
		width: 14%
		margin-left: 29%
		@media screen and (max-width: 1199px)
			width: 15%
		@media screen and (max-width: 991px)
			width: 100%
			margin-left: initial
			bottom: 200px
		@media screen and (max-width: 767px)
			bottom: 160px
#Glide2
	@media screen and (max-width: 991px)
		margin-top: 30px
	.glide__arrows
		top: -30px
		width: 162px
		margin-left: -12px
	.glide__bullets
		top: -44px
		bottom: initial
		margin-left: 35px
		text-align: left
	.glide__bullet
		background-color: #333
	.glide__bullet.active
		background-color: $accent-color
	.glide__bullets>:focus, .glide__bullets>:hover
		border: 2px solid transparent
	.glide__bullets>:focus
		margin: 0 5px
.glide__arrow
	font-size: 14px
	font-weight: 600
	color: #333
	text-transform: none
	border: none
	z-index: 25
	transition: $trans-prop
	.fa-arrow-left
		margin-right: 5px
	.fa-arrow-right
		margin-left: 5px
	&:hover
		color: $accent-color

// Header
.header__top-header
	background-image: $header__top-header_base64bg
.top-header__text
	font-weight: 600
	color: #fff
	margin: 30px 0
	&:first-child
		margin-right: 90px
		@media screen and (max-width: 575px)
			margin-right: 50px
	@media screen and (max-width: 575px)
		font-size: 14px
.header__nav
	background-color: #fff
	box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15)
	z-index: 50
	position: relative
	@media screen and (min-width: 992px)
		padding: 0
.nav-link
	font-size: 16px
	font-weight: 600
	color: #111 !important
	padding: 12px 20px !important
	transition: $trans-prop
	@media screen and (max-width: 1199px)
		padding: 12px 15px !important
	&:hover
		color: $accent-color !important
	&:last-child
		padding-right: 0

// Welcome section
#welcome
	background-color: #fafbff
.welcome__title
	font-size: 38px
	color: #222
	margin-top: 100px
	margin-bottom: 40px
	@media screen and (max-width: 1199px)
		font-size: 30px
		margin-top: 50px
.welcome__text
	font-weight: 500
	margin-bottom: 60px
	@media screen and (max-width: 1199px)
		margin-bottom: 40px

// Bullets section
#bullets
	background-color: #fff
	box-shadow: 0 -5px 20px 0 rgba(0,0,0,0.15)
	padding-top: 50px
	padding-bottom: 50px
	margin-top: -155px
	position: relative
	z-index: 30
	@media screen and (max-width: 991px)
		margin-top: -170px
	@media screen and (max-width: 767px)
		margin-top: -140px
	.section-title
		margin-bottom: 50px
.bullets__img
	@media screen and (max-width: 991px)
		margin-bottom: 30px